<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/vendors/feather/feather.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
   
    <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
   
    <link rel="shortcut icon" href="/images/favicon.png">
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
   
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
</body>
</html>
