@using SchoolManagement.Model
@model AddLibrarian

<partial name="Notification"/>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Labrarian</h4>
                        <p class="card-description">

                        </p>
                        <form method="post" class="forms-sample">
                            <div class="form-group">
                                <label for="exampleInputUsername1">LibrarianUser</label>
                                <input type="text" class="form-control" asp-for="LibrarianUser" id="exampleInputUsername1" placeholder="LibrarianUser">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Librarianpass</label>
                                <input type="text" class="form-control" asp-for="Librarianpass" id="exampleInputEmail1" placeholder="Librarianpass">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">LibrarianName</label>
                                <input type="text" class="form-control" asp-for="LibrarianName" id="exampleInputPassword1" placeholder="LibrarianName">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputConfirmPassword1">Email</label>
                                <input type="email" class="form-control" asp-for="Email" id="exampleInputConfirmPassword1" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Contact</label>
                                <input type="text" class="form-control" asp-for="Contact" id="exampleInputPassword1" placeholder="Contect">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Salary</label>
                                <input type="text" class="form-control" asp-for="Salary" id="exampleInputPassword1" placeholder="Salary">
                            </div>
                            <input type="submit" class="btn btn-primary mr-2" value="Submit">
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>