@using SchoolManagement.Model

@{

    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
<partial name="Notification" />

@model List<AddStudent>

<h2>Add Attendance</h2>

<form asp-controller="Teacher" asp-action="AddAttendance" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Select</th>
                <th>ID</th>
                <th>Full Name</th>
                <th>Standard</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td><input type="checkbox" name="Attendance" value="@student.StudentId" /></td>
                    <td>@student.StudentId</td>
                    <td>@student.fullname</td>
                    <td>@student.Standard</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit Attendance</button>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
